<div class="container p-4">
  <div class="text-center">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8a/Logo-Tinder.svg/800px-Logo-Tinder.svg.png"
         alt="..." height="50px"/>
  </div>
  <div class="row mt-5">
    <div class="col-12">
      <div class="input-group input-group-lg">
        <input type="text" class="form-control form-control-lg" placeholder="Podaj token Tinder" #token>
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button" (click)="fetchUsers()">Wyszukaj</button>
        </div>
      </div>
      <div class="text-center mt-5">
        <div class="text-danger" role="status" *ngIf="error">
          Bład pobierania. Sprawdz token i spróbuj ponownie
        </div>
        <div class="spinner-border text-success" role="status" *ngIf="loading">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </div>
  </div>

  <div class="card-deck mt-5" *ngIf="users">
    <div class="card shadow" style="width: 18rem;" *ngFor="let user of users">
      <img [src]="users.photos[0].url" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Dane usera</h5>
        {{user | json}}
      </div>
    </div>
  </div>
</div>
